.p-tottori {
    .c-career {
        padding-block: 100px;

        @include sp {
            padding-block: 64px;
        }

        &__list {
            margin-top: 41px;

            @include sp {
                margin-top: 25px;
            }
        }

        &__item {
            padding: 24px 16px;
            display: grid;
            grid-template-columns: 96px 1fr;
            align-items: center;
            column-gap: 33px;
            border-top: 1px solid rgba(0, 0, 0, 0.4);

            &:last-child {
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }

            @include sp {
                padding: 14px 6px;
                column-gap: 16px;
            }

            figure {
                overflow: hidden;
                border-radius: 8px;
            }

            &-title {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 1.8rem;
                line-height: 1.8;
                letter-spacing: 0.04em;
                font-weight: 500;

                @include sp {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .c-message {
        &__info {
            margin-top: 35px;
            display: grid;
            grid-template-columns: 406px 1fr;
            align-items: flex-end;
            column-gap: 112px;

            @include tab {
                align-items: flex-start;
                grid-template-columns: 300px 1fr;
                column-gap: 50px;
            }

            @include sp {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 30px;
            }
        }

        figure {
            overflow: hidden;
            border-radius: 8px;
            aspect-ratio: 406/490;

            @include sp {
                aspect-ratio: 353/426;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            letter-spacing: 0.04em;
            line-height: 1.8;

            &-note {
                p {
                    font-size: 1.6rem;
                    font-weight: 700;

                    @include tab {
                        font-size: 1.4rem;
                    }

                    &:not(&:first-child) {
                        margin-top: 30px;

                        @include tab {
                            margin-top: 20px;
                        }
                    }
                }
            }

            &-ceo {
                text-align: right;
                font-weight: 500;
                margin-top: 67px;

                p {
                    font-size: 1.6rem;
                }

                h3 {
                    font-size: 2.4rem;
                    margin-top: 14px;
                }
            }
        }
    }

    .c-environment {
        padding-inline: 24px;
        margin-block: 143px 198px;

        @include sp {
            margin-block: 80px;
        }

        &__inner {
            width: 100%;
            max-width: 1392px;
            margin: 0 auto;
            border-radius: 8px;
            padding-block: 57px 84px;
            background-image: url("./assets/img/faclities-tottori/bg-envi.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            overflow: hidden;

            @include sp {
                padding: 40px 15px;
            }

            &::before {
                position: absolute;
                content: "";
                background-color: rgba(0, 0, 0, 0.64);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        .l-container {
            position: relative;
            z-index: 1;

            @include sp {
                padding-inline: 0;
            }
        }

        .c-title1 {
            color: #fff;
        }

        &__nav {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            margin-top: 93px;

            @include sp {
                position: static;
                margin-top: 41px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                background-color: #0a94eb;
                outline: none;
                border: 0;
                width: 56px;
                height: 56px;
                border-radius: 4px;
                position: static;
                margin-top: 0;
                transition: 0.4s;

                &:hover {
                    opacity: 0.8;
                }

                @include sp {
                    width: 32px;
                    height: 32px;

                    img {
                        width: 14px;
                        height: 10.11px;
                    }
                }

                svg {
                    display: none;
                }
            }
        }

        &__slide {
            margin-top: 32px;
            overflow: visible;
            width: 100%;
            max-width: 974px;
            margin-inline: auto;

            @include tab {
                max-width: 500px;
            }

            .swiper-wrapper {
                align-items: center;
            }

            .swiper-slide {
                height: 100%;
                width: 100%;

                figure {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    overflow: hidden;

                    @include sp {
                        border-radius: 0;
                    }

                    &:not(&:first-child) {
                        margin-top: 12px;

                        @include sp {
                            margin-top: 6px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
