/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
    &__en {
        font-size: 1.6rem;
        letter-spacing: 0.04em;
        font-weight: 700;
        line-height: 1.8;

        @include sp {
            font-size: 1.2rem;
        }
    }

    &__jp {
        font-size: 4rem;
        letter-spacing: 0.04em;
        font-weight: 700;
        line-height: 1.8;
        margin-top: 12px;

        @include sp {
            font-size: 2.4rem;
        }
    }

    &--sub {
        .c-title1__en {
            padding-top: 0 !important;

            &--bd {
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                padding-bottom: 9px;
            }
        }

        .c-title1__jp {
            font-size: 3.2rem;
            padding-left: 10px;
            margin-top: 24px;

            @include sp {
                font-size: 2.4rem;
                padding-left: 0;
                margin-top: 0;
            }
        }
    }
}

.c-page-title {
    .c-page-title__inner {
        width: 100%;
        max-width: 1338px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .c-page-title__en {
        @extend .c-title1__en;

        &.ic-dot {
            padding-left: 17px;
            padding-top: 2px;
        }
    }

    .c-page-title__jp {
        @extend .c-title1__jp;

        font-size: 3.2rem;
        padding: 24px 10px;
        letter-spacing: 0.04em;
        border-top: 1px solid #0006;
        margin-top: 11px;

        @include sp {
            font-size: 2.4rem;
            padding: 16px 8px;
        }
    }
}
