///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
.u-only-pc {
    display: block;

    @include sp {
        display: none;
    }
}

.u-only-sp {
    display: none;

    @include sp {
        display: block;
    }
}

.u-only-tab {
    display: none;

    @include tab {
        display: block;
    }
}
