//baseWidth
$base-width: 1240px;


$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$un-bounded-fonts: "unbounded", sans-serif;
$outfit-fonts: "Outfit", sans-serif;
$IBM-fonts: "IBM Plex Sans", sans-serif;
$ryo-gothic-plusn-fonts: "ryo-gothic-plusn", sans-serif;
//color common
