/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-block: 90px 42px;

    @include sp {
        padding-block: 41px 11px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-left: 110px;

        @include tab {
            padding-left: 0;
        }

        @media screen and (max-width: 970px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        @include sp {
            gap: 25px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 217px;

        @include sp {
            display: flex;
            max-width: 100%;
            gap: 24px;
        }

        figure {
            border-radius: 4px;
            overflow: hidden;
            width: 194px;
            margin: auto;

            @include sp {
                width: 96px;
                margin: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 26px;

        @include sp {
            margin-top: 0;
        }

        span {
            line-height: 2;

            @include sp {
                line-height: 1.6;
                font-size: 1.2rem;
            }

        }
    }

    &__menu {
        width: 100%;
        max-width: 616px;
        display: flex;
        justify-content: flex-end;

        @include sp {
            flex-wrap: wrap;
            gap: 12px 17px;
        }

    }

    &__col {
        width: 33.33%;

        &:nth-of-type(2),
        &:nth-of-type(3) {
            @include sp {
                width: 53%;
            }
        }

        &:first-child {
            @include sp {
                width: 42%;
            }
        }
    }

    &__nav {
        +.c-footer__nav {
            margin-top: 28px;

            @include sp {
                margin-top: 20px;
            }
        }

        &-title {
            font-size: 1.4rem;
            position: relative;
            padding-left: 14px;
            font-weight: 500;

            @include sp {
                font-size: 1.3rem;
            }

            &::before {
                position: absolute;
                content: "";
                background-color: #0798ed;
                width: 6px;
                height: 6px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        &-list {
            padding-left: 14px;
            margin-top: 5px;

            @include sp {
                padding-left: 16px;
                margin-top: 6px;
            }

            li {
                color: rgba(20, 38, 63, 0.64);
                font-size: 1.3rem;
                line-height: 1.8;

                @include sp {
                    font-size: 1.2rem;
                }

                +li {
                    margin-top: 7px;

                    @include sp {
                        margin-top: 6px;
                    }
                }
            }
        }
    }


}

.c-copyright {
    background-color: #14263f;
    padding-block: 171px 18px;
    margin: 123px 24px 0;
    border-radius: 8px;
    position: relative;

    @include sp {
        margin: 20px 11px 0;
        padding-block-start: 68px;
    }

    &__inner {
        padding-inline: 96px;

        @include sp {
            padding-inline: 14px;
        }
    }

    &__text {
        display: flex;
        justify-content: space-between;
        color: #fff;

        @include sp {
            flex-direction: column-reverse;
            text-align: right;
        }

        span {
            font-size: 1rem;

            &:first-child {
                font-family: $un-bounded-fonts;
                font-weight: 400;
            }

            &:last-child {
                @include sp {
                    position: absolute;
                    top: 50%;
                    left: 14px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

/////////////////////
.c-footer__recruit {
    background: rgba(0, 0, 0, 0.59);
    padding: 105px 20px 0;

    @include sp {
        padding-inline: 0;
        padding-block: 62px 22px;
        margin-inline: 2px;
    }

    &-col {
        display: grid;
        grid-template-columns: 270px 1fr;
        align-items: flex-start;
        gap: 211px;

        @media screen and (max-width: 1240px) {
            gap: 100px;
        }

        @include tab {
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
        }

        @include sp {
            gap: 28px;
        }
    }

    .c-logo {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.04em;
        color: #fff;
        margin-top: 14px;
    }

    &-nav {
        margin-right: 80px;

        @include tab {
            margin-right: 0;
        }

        @include sp {
            width: 100%;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @include tab {
                grid-template-columns: repeat(1, 1fr);
            }

            @include sp {
                .item-1 {
                    order: 1;
                }

                .item-3 {
                    order: 2;
                }

                .item-5 {
                    order: 3;
                }

                .item-7 {
                    order: 4;
                }

                .item-2 {
                    order: 5;
                }

                .item-4 {
                    order: 6;
                }

                .item-6 {
                    order: 7;
                }

            }

            li {
                padding: 14px 24px;

                @include sp {
                    padding: 17px 11px 11px;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    line-height: 1.8;
                    letter-spacing: 0.04em;
                    transition: 0.3s;

                    &::after {
                        content: "";
                        width: 14px;
                        height: 10.11px;
                        background: url("./assets/img/common/icon-arr-right-white01.svg") no-repeat center;
                        background-size: contain;
                        margin-left: 12px;
                        flex-shrink: 0;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.c-footer__bottom {
    padding: 22px 0;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 109px;

    @include sp {
        margin: 22px 11px 0;
        padding-inline: 14px 11px;
        padding-block: 17px 0;
    }

    &-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sp {
            display: block;
        }
    }

    &-left {
        display: flex;
        gap: 47px;

        @include sp {
            gap: 0;
            justify-content: space-between;
        }

        a {
            color: #fff;
            font-size: 1.2rem;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            line-height: 1.8;
            letter-spacing: 0.04em;

            &::after {
                content: "";
                width: 12px;
                height: 12px;
                background: url("./assets/img/common/open_in_new.svg") no-repeat center;
                background-size: contain;
                margin-left: 12px;
                flex-shrink: 0;

                @include sp {
                    width: 9px;
                    height: 9px;
                    margin-left: 13px;
                }
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &-right {
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.8;
        letter-spacing: 0.04em;

        @include sp {
            text-align: right;
            margin-top: 16px;
        }
    }
}
