<section class="c-contact">
  <div class="l-container">
    <div class="c-title1">
      <h2 class="c-title1__en ic-dot">Contact</h2>
      <div class="c-title1__jp">お問い合わせ・エントリー</div>
    </div>


    <div class="c-contact__list">
      <div class="c-contact__item">
        <h3 class="c-contact__title">採用総合お問い合せ</h3>
        <a href="#" class="c-btn2">お問い合せフォーム</a>
      </div>
      <div class="c-contact__item disabled">
        <h3 class="c-contact__title">新卒採用</h3>
        <a href="#" class="c-btn2">エントリーフォーム</a>
        <div class="c-contact__note"><span>現在募集は行なっておりません。</span></div>
      </div>

      <div class="c-contact__item">
        <h3 class="c-contact__title">キャリア採用</h3>
        <a href="#" class="c-btn2">エントリーフォーム</a>
      </div>
      <div class="c-contact__item disabled">
        <h3 class="c-contact__title">インターンシップ</h3>
        <a href="#" class="c-btn2">エントリーフォーム</a>
        <div class="c-contact__note"><span>現在募集は行なっておりません。</span></div>
      </div>

      <div class="c-contact__item">
        <h3 class="c-contact__title">【高校生向け】保護者・学校関係者お問い合せ</h3>
        <a href="#" class="c-btn2">お問い合せフォーム</a>
      </div>
      <div class="c-contact__item disabled">
        <h3 class="c-contact__title">【高校生向け】職場見学会</h3>
        <a href="#" class="c-btn2">エントリーフォーム</a>
        <div class="c-contact__note"><span>現在募集は行なっておりません。</span></div>
      </div>
    </div>
  </div>
</section>
<footer class="c-footer__recruit">
  <div class="l-container">
    <div class="c-footer__recruit-col">
      <div class="c-logo">
        あなたの未来に、<br>本気で向き合う。
      </div>

      <nav class="c-footer__recruit-nav">
        <ul class="c-footer__recruit-list">
          <li class="c-footer__recruit-item item-1">
            <a href="#">大和設備グループ採用トップ</a>
          </li>
          <li class="c-footer__recruit-item item-2">
            <a href="#">高校生向け採用</a>
          </li>

          <li class="c-footer__recruit-item item-3">
            <a href="#">大和設備株式会社</a>
          </li>
          <li class="c-footer__recruit-item item-4">
            <a href="#">インタビュー</a>
          </li>

          <li class="c-footer__recruit-item item-5">
            <a href="#">大和設備倉吉株式会社</a>
          </li>
          <li class="c-footer__recruit-item item-6">
            <a href="#">代表メッセージ</a>
          </li>

          <li class="c-footer__recruit-item item-7">
            <a href="#">大和設備株式会社 米子営業所</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="c-footer__bottom">
    <div class="c-footer__bottom-inner">
      <div class="c-footer__bottom-left">
        <a href="#" target="_blank" rel="noopener">
          コーポレートサイト
          <span class="icon-external"></span>
        </a>
        <a href="#" target="_blank" rel="noopener">
          プライバシーポリシー
          <span class="icon-external"></span>
        </a>
      </div>

      <div class="c-footer__bottom-right">
        © AMEDIA Group.
      </div>
    </div>
  </div>
</footer>