<header class="c-header">
  <h1 class="c-header__logo">
    <a href="#">
      <picture>
        <source media="(max-width: 767px)" srcset="./assets/img/common/header-logo-recruit-sp.svg">
        <img src="./assets/img/common/header-logo-recruit1.svg" alt="AMEDIA Group Recruit Site">
      </picture>
      <span>AMEDIA Group<br>Recruit Site</span>
    </a>
  </h1>
  <button class="c-hamburger" id="hamburger" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="c-gnav" id="menu">
    <div class="c-gnav__menu">
      <ul>
        <li><a href="#" class="ic-dot">トップ</a></li>
        <li><a href="#" class="ic-dot">大和設備株式会社</a></li>
        <li><a href="#" class="ic-dot">大和設備倉吉株式会社</a></li>
        <li><a href="#" class="ic-dot">大和設備株式会社 米子営業所</a></li>
        <li><a href="#" class="ic-dot">高校生向け採用ページ</a></li>
        <li><a href="#" class="ic-dot">インタビュー</a></li>
        <li><a href="#" class="ic-dot">代表メッセージ</a></li>
      </ul>
    </div>
  </nav>
</header>